.slider__card {
  background: transparent;
  border: 0;
  .card-body {
    // padding: 10px;
    .slider__card__poster {
      cursor: pointer;

      .lazy-load-image-background {
        height: 100%;
      }
      .genres {
        position: absolute;
        bottom: 5px;
        padding: 10px 10px;
        max-width: calc(100% - 50px);
        right: 0;
      }
    }

    .img-thumbnail {
      border: 0;
      height: 100%;
      object-fit: cover;
    }
    .card__content {
      padding: 10px 10px 3px 10px;
      position: relative;
      &.move_top {
        margin-top: -40px;
      }
      &__title {
        color: var(--white);
        font-size: $font16;
        @include ellipses;
      }
      &__relaseDate {
        color: var(--light-text);
        font-size: $font12;
      }
    }
  }
}
