.header {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &.hide {
    transform: translateY(-60px);
  }
  @include padding(10px, 0, 10px, 0);

  &__nav {
    @include flexbox($justify-content: space-between, $align-items: center);

    &__right {
      @include flexbox($justify-content: space-between, $align-items: center);

      .menu {
        @include flexbox($justify-content: space-between, $align-items: center);
        margin-bottom: 0;

        li {
          margin: 0 20px;
          color: var(--white);
          font-size: $font16;
          cursor: pointer;

          @include sm {
            font-size: $font14;
            margin: 0 10px;
          }
        }
      }

      .search-button {
        @include resetButton;
        @include padding($direction: all, $amount: 5px);
        margin-left: 20px;
        cursor: pointer;
        @include md {
          margin-left: 10px;
        }

        svg {
          color: var(--white);
          font-size: $font18;
        }
      }
    }
  }

  &__searchBar {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--white);
    height: 60px;
    @include flexbox($justify-content: space-between, $align-items: center);
    // bottom: -100%;
    animation: topBottom 0.3s forwards;

    &__content {
      @include flexbox();

      input {
        width: 100%;
        height: 50px;
        border: 0;
        font-size: $font16;
      }
      button {
        @include resetButton();
        font-size: $font20;
        @include padding($direction: all, $amount: 10px);
        cursor: pointer;
      }
    }

    @keyframes topBottom {
      from {
        bottom: 100%;
        opacity: 0.5;
        filter: blur(0.3px);
      }
      to {
        bottom: -100%;
        opacity: 1;
        filter: blur(0);
      }
    }
  }
}
