.slider__title__section {
  @include flexbox($justify-content: space-between, $align-items: center);
  margin-bottom: 20px;
}

.slider__title {
  @include heading($color: var(--white), $fontSize: $font24);
}

.header__space {
  padding-top: 100px;
}

.explorePage {
  .slider__card {
    .card-body {
      padding: 0;
    }
  }
}
