$dark-violet: hsl(256, 26%, 20%);
$grey-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grey-violet: hsl(273, 4%, 51%);
$light-grey: hsl(0, 0%, 98%);

$black: #000;
$white: #fff;

// -------- FONt WEIGHT ---------------
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// -------- FONT SIZE ------------------
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font30: 30px;
